:root {
    --fondo:#F3F5FC;
    --primario:#0A3871;
    --secundario:#D8DFE8;
    --advertencia: #495057;
}

html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model **/
    /*scroll-snap-type: y mandatory;*/
    min-height: 100vh
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: var(--fondo);
    font-size: 1.6rem;
    min-height: 100vh;
    overflow-x: hidden;
}

footer{
    text-align: center;
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: var(--primario);
    color:var(--secundario);
}

.instrucciones{
    display: grid;
    grid-template-columns: 5% 95%
}

.img-warning{
   display: flex;
   align-items: center; /*Centrar verticalmente cuando se activa flex*/
   /* justify-content: center; Centrar horizontalmente cuando se activa flex*/
}

.resultados-area{
    display:flex;
    flex-direction: column;
    gap:2rem;
    border: solid white;
    background-color: white;
    border-radius: 2rem;
    padding: 20px 0px;

}

.botones{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.ingresara{
    resize:none;
    width: 100%;
    border:none;
    background-color: var(--fondo);
    font-size: 2rem;
    font-weight:500;
    
    
   
}

.ingresar-contenedor{
    border:solid var(--primario) 2px;
    padding: 5px 15px;

}

.section-2{
    padding-bottom: 1rem;
}
.resul-textarea{
   border: none ;
   resize:none;
   font-size: 2rem;
   margin: 0px 20px;
}

.btn1{
    border: none;
    background-color: var(--primario);
    color: white;

}

.btn2{
    border:solid var(--primario) 1px;
    background-color: var(--fondo);
    color: var(--primario);
}

.btn1, .btn2{
    text-transform: uppercase;
    border-radius: 0.5rem;
    padding: 10px 0px;
}

.boton-copiar{
    text-transform: uppercase;
    color: var(--primario);
}

